
<div class="login-register-block">




<form [formGroup]="userForm"  *ngIf="newUser"  (ngSubmit)="signup()">

  <h3>Ad Woy</h3>
  <p>Please complete to create your account.</p>
  <div class="center-two-form">
  <mat-form-field class="first-last">
    <input  [(ngModel)]="profile.firstName" matInput placeholder="First name" type="text" id="Firstname" formControlName="Firstname" required >
  </mat-form-field>

  <mat-form-field class="first-last">
    <input  [(ngModel)]="profile.lastName" matInput placeholder="Last name" type="text" id="Lastname" formControlName="Lastname" required >
  </mat-form-field>
  </div>
  <mat-error *ngIf="formErrors.Firstname" >
    {{ formErrors.Firstname }}
  </mat-error>
  <mat-error *ngIf="formErrors.Lastname" >
    {{ formErrors.Lastname }}
  </mat-error>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="profile.userName" matInput placeholder="Username" type="text" id="username" formControlName="username" required >
  </mat-form-field>
  <mat-error *ngIf="formErrors.username" >
    {{ formErrors.username }}
  </mat-error>

  <mat-form-field class="example-full-width">
  <input matInput placeholder="Email" type="email" id="email" formControlName="email" required >
  </mat-form-field>
  <mat-error *ngIf="formErrors.email" >
    {{ formErrors.email }}
  </mat-error>


  <mat-form-field class="example-full-width">
  <input matInput placeholder="Password" type="password" id="password"
         formControlName="password" required >
  </mat-form-field>
  <mat-error *ngIf="formErrors.password" >
    {{ formErrors.password }}
  </mat-error>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Confirm Password" type="password" id="confirmPsw"
           formControlName="confirmPsw" required >
  </mat-form-field>
  <mat-error *ngIf="formErrors.confirmPsw">
    {{ formErrors.confirmPsw }}
  </mat-error>
  <mat-checkbox  formControlName="confirmTerms" required>I agree with terms and conditions</mat-checkbox>
  <mat-error *ngIf="userForm.valid" >Form is valid</mat-error>
  <button type="submit" class="button" (click)="updateProfile()" [disabled]="!userForm.valid">Sign up</button>


  <p class=" is-small" (click)="toggleForm()">Already have an account? Sign in.</p>
</form>


<form [formGroup]="userForm"  *ngIf="!newUser"  (ngSubmit)="login()" class="login-form">

  <h3>Ad Woy</h3>
  <p>Welcome back! Please login to your account.</p>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" type="email" id="email" formControlName="email" required >
  </mat-form-field>

  <mat-error *ngIf="formErrors.email" >
    {{ formErrors.email }}
  </mat-error>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" id="password"
           formControlName="password" required >
  </mat-form-field>

  <mat-error *ngIf="formErrors.password" >
    {{ formErrors.password }}
  </mat-error>
  <div class="reset-password-block">
    <mat-checkbox  formControlName="confirmTerms" required>Remember me</mat-checkbox>
    <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
    <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
  </div>
  <div class="two-button-block">
    <button type="submit" class="button two-buttons left " >Login</button>
    <button type="submit" class="button two-buttons transparent right" (click)="toggleForm()" >Sign up</button>
  </div>
  <p class=" is-small" style="padding-bottom:20px;margin-top:0px;padding-top:90px;" (click)="toggleForm()">Terms of use. Privacy policy.</p>

  <span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>




</form>

</div>
